.navbar {
    padding-left: 25px !important;
    padding-right: 25px !important;
    background-color: ghostwhite !important;
}

a.nav-link {
    margin-right: 25px !important;
    color: gray !important;
}

#contentPart {
    margin: 15px 50px  !important;
}

button {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}