{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid" id="contentPart">
        <h1>Star Wars universe planets</h1>
        <button type="button" class="btn btn-primary" id="previousPage">Previous</button>
        <button type="button" class="btn btn-primary" id="nextPage">Next</button>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Diameter in km</th>
                <th>Climate</th>
                <th>Terrain</th>
                <th>Surface water percentage</th>
                <th>Population</th>
                <th>Residents</th>
            </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
        </table>
    </div>
{% endblock %}