<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>API Wars</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
    <script src="static/js/jquery-3.3.1.js" defer></script>
    <script src="static/js/dom.js" defer></script>
    <script src="static/js/api_communication.js" defer></script>
    <script src="static/js/main.js" defer></script>
</head>
<body>
<nav class="navbar navbar-light bg-light container-fluid">
    <div class="d-flex flex-row justify-content-start">
        <a class="p-2 nav-link" href="{{ url_for("index") }}">Planet List</a>

        <a class="p-2 nav-link" id="voteStatisticsButton" href="" data-toggle="modal" data-target="#voteStatisticsModal">Voting statistics</a>

        {% if "username" not in session %}<a class="p-2 nav-link" href="{{ url_for("registration") }}">Registration</a>{% endif %}

        {% if "username" not in session %}<a class="p-2 nav-link" href="{{ url_for("login") }}">Login</a>{% endif %}

        {% if "username" in session %}<a class="p-2 nav-link" href="{{ url_for("logout") }}">Logout</a>{% endif %}

        <div class="col navbar-text text-right justify-content-end">{% if "username" in session %}
        Logged in as {{ session["username"] }}
        {% endif %}</div>
    </div>
</nav>

<!-- Modal -->
<div class="modal" id="voteStatisticsModal" tabindex="-1" role="dialog" aria-labelledby="voteStatisticsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="voteStatisticsModalLabel">Voting statistics</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <table class="table table-bordered">
              <thead>
            <tr>
                <th>Planet name</th>
                <th>Received Votes</th>
            </tr>
            </thead>
              <tbody id="voteStatisticsModalBody">
            </tbody>
          </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% block content %} {% endblock %}
</body>
</html>