{% extends "reg_login_layout.html" %}
{% block content %}
    <div class="container">
        <div class="row"><h1>Registration</h1></div>
        <div class="row">
            <form id="registerForm" method="post" action="/registration">
                <!--User name-->
                <div class="form-group row">
                    <label for="inputUserName" class="col-sm-5 col-form-label">User name</label>
                    <div class="col-sm-7">
                        <input name="username" required type="text" class="form-control" id="inputUserName" placeholder="Username">
                    </div>
                </div>
                <!--Password-->
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-5 col-form-label">Password</label>
                    <div class="col-sm-7">
                        <input name="password" required type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                </div>
                <!--Register-->
                <div class="form-group row">
                    <div class="col-sm-10 offset-sm-6">
                        <button type="button" id="registerButton" class="btn btn-primary">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}